# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/

# Папка с собранными файлами проекта
build/

#Собранные файлы
public/bundle.js
public/bundle.js.map

#HTML файлы (кроме index)
public/favorites-empty.html
public/favorites.html
public/login.html
public/main-empty.html
public/main.html
public/property-not-logged.html
public/property.html
